USE [Almacen]
GO
/****** Object:  Table [dbo].[T_ARTICULOS]    Script Date: 27/10/2022 09:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ARTICULOS](
	[ID_ARTICULO] [numeric](4, 0) NOT NULL,
	[N_ARTICULO] [varchar](30) NULL,
	[PRECIO] [numeric](6, 2) NULL,
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_CLIENTES]    Script Date: 27/10/2022 09:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CLIENTES](
	[ID_CLIENTES] [numeric](4, 0) NOT NULL,
	[N_CLIENTES] [varchar](30) NULL,
	[CALLE] [varchar](30) NULL,
	[CALLE_NRO] [numeric](4, 0) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DETALLE_PEDIDO]    Script Date: 27/10/2022 09:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DETALLE_PEDIDO](
	[NRO_PEDIDO] [int] NOT NULL,
	[ID_ARTICULO] [numeric](4, 0) NOT NULL,
	[CANTIDAD] [numeric](4, 0) NULL,
	[PRECIO] [numeric](6, 2) NULL,
 CONSTRAINT [PK_DETALLE] PRIMARY KEY CLUSTERED 
(
	[NRO_PEDIDO] ASC,
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PEDIDOS]    Script Date: 27/10/2022 09:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PEDIDOS](
	[NRO_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [numeric](4, 0) NULL,
	[FECHA] [datetime] NULL,
	[SUB_TOTAL] [numeric](6, 2) NULL,
	[DESCUENTO] [numeric](6, 2) NULL,
	[TOTAL] [numeric](6, 2) NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[NRO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_ARTICULOS] ([ID_ARTICULO], [N_ARTICULO], [PRECIO]) VALUES (CAST(1 AS Numeric(4, 0)), N'LECHE', CAST(1.00 AS Numeric(6, 2)))
INSERT [dbo].[T_ARTICULOS] ([ID_ARTICULO], [N_ARTICULO], [PRECIO]) VALUES (CAST(2 AS Numeric(4, 0)), N'PAN', CAST(1.30 AS Numeric(6, 2)))
INSERT [dbo].[T_ARTICULOS] ([ID_ARTICULO], [N_ARTICULO], [PRECIO]) VALUES (CAST(3 AS Numeric(4, 0)), N'AZUCAR', CAST(1.25 AS Numeric(6, 2)))
GO
INSERT [dbo].[T_CLIENTES] ([ID_CLIENTES], [N_CLIENTES], [CALLE], [CALLE_NRO]) VALUES (CAST(1 AS Numeric(4, 0)), N'DAMIANO LUIS ESTEBAN', N'MAL PASO', CAST(12 AS Numeric(4, 0)))
INSERT [dbo].[T_CLIENTES] ([ID_CLIENTES], [N_CLIENTES], [CALLE], [CALLE_NRO]) VALUES (CAST(2 AS Numeric(4, 0)), N'LIBERACCE MARIO', N'BUEN PASO', CAST(13 AS Numeric(4, 0)))
INSERT [dbo].[T_CLIENTES] ([ID_CLIENTES], [N_CLIENTES], [CALLE], [CALLE_NRO]) VALUES (CAST(3 AS Numeric(4, 0)), N'QUITO SERGIO', N'OTRO PASO', CAST(14 AS Numeric(4, 0)))
GO
ALTER TABLE [dbo].[T_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DET_ARTICULOS] FOREIGN KEY([ID_ARTICULO])
REFERENCES [dbo].[T_ARTICULOS] ([ID_ARTICULO])
GO
ALTER TABLE [dbo].[T_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DET_ARTICULOS]
GO
ALTER TABLE [dbo].[T_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DET_PEDIDO] FOREIGN KEY([NRO_PEDIDO])
REFERENCES [dbo].[T_PEDIDOS] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[T_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DET_PEDIDO]
GO
ALTER TABLE [dbo].[T_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PED_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[T_CLIENTES] ([ID_CLIENTES])
GO
ALTER TABLE [dbo].[T_PEDIDOS] CHECK CONSTRAINT [FK_PED_CLIENTE]
GO
